*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #222831;
  font-size: 18px;
  color: rgba(238, 238, 238, 0.75);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  padding-top: 85px;
}

@media (max-width: 500px) {
  .page {
    padding-top: 73px;
  }
}
[class*=__container] {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  text-align: center;
  font-weight: 700;
  line-height: 27px;
  color: #eeeeee;
  padding: 10px 32px;
  background-color: #00adb5;
  border-radius: 24px;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: rgba(57, 62, 70, 0.75);
}
.button_dark {
  text-align: center;
  font-weight: 700;
  line-height: 27px;
  color: #eeeeee;
  padding: 10px 32px;
  background-color: rgba(57, 62, 70, 0.75);
  border-radius: 24px;
  transition: background-color 0.3s ease 0s;
}
.button_dark:hover {
  background-color: #00adb5;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social__link {
  background-color: #393e46;
  flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}
.social__link:hover {
  background-color: rgba(57, 62, 70, 0.75);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  background-color: rbga(#222831, 0.8);
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 30px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 3px;
  align-items: center;
}

.menu__link {
  color: #eeeeee;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #00adb5;
}

@media (max-width: 500px) {
  .header__container {
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
  }
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.footer {
  padding: 50px 0;
  border-top: 1px solid rgba(238, 238, 238, 0.1);
}
.footer__menu:not(:last-child) {
  margin-bottom: 28px;
}

.menu-footer__list {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu-footer__link {
  line-height: 24px;
  padding-left: 34px;
}
.menu-footer__link:hover {
  text-decoration: underline;
}
.menu-footer__link_home {
  background: url("../../img/icons/home.svg") left no-repeat;
}
.menu-footer__link_about {
  background: url("../../img/icons/user.svg") left no-repeat;
}
.menu-footer__link_contacts {
  background: url("../../img/icons/phone.svg") left no-repeat;
}

.main {
  padding: 93px 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__content {
  flex: 1 1 auto;
  padding-right: 20px;
}
.main__title {
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  color: #eeeeee;
}
.main__title span {
  color: #00adb5;
}
.main__title:not(:last-child) {
  margin-bottom: 48px;
}
.main__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main__cv-button span {
  padding-right: 34px;
  display: inline-block;
  background: url("../../img/icons/download.svg") right no-repeat;
}
.main__image {
  flex: 0 0 42.8%;
}
.main__image img {
  max-width: 100%;
}

@media (max-width: 1280px) {
  .main {
    padding: 50px 0;
  }
  .main__container {
    flex-direction: column;
    align-items: stretch;
  }
  .main__content {
    padding-right: 0;
  }
  .main__image {
    flex: 0 0 auto;
    margin: 0 auto;
  }
  .main__buttons {
    justify-content: center;
  }
  .main__title {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding: 35px 0;
  }
  .main__title {
    font-size: 65px;
  }
  .main__title:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 497.98px) {
  .main {
    padding: 35px 0;
  }
  .main__title {
    font-size: 45px;
  }
  .main__buttons {
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}/*# sourceMappingURL=style.css.map */