.main {
  padding: 93px 0;
  border-bottom: 1px solid rgba($mainColor, 0.1);
  @include desktop {
    padding: 50px 0;
  }
  @include tablet {
    padding: 35px 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include desktop {
      flex-direction: column;
      align-items: stretch;
    }
  }
  &__content {
    flex: 1 1 auto;
    padding-right: 20px;
    @include desktop {
      padding-right: 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 96px;
    text-transform: uppercase;
    color: $textWhite;
    @include desktop {
      text-align: center;
    }
    @include tablet {
      font-size: 65px;
    }
    @include sm-mobile {
      font-size: 45px;
    }
    & span {
      color: $greenColor;
    }
    &:not(:last-child) {
      margin-bottom: 48px;
      @include tablet {
        margin-bottom: 25px;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    @include desktop {
      justify-content: center;
    }
    @include sm-mobile {
      gap: 10px;
      flex-direction: column;
      align-items: stretch;
    }
  }
  &__cv-button span {
    padding-right: 34px;
    display: inline-block;
    background: url("../../img/icons/download.svg") right no-repeat;
  }
  &__image {
    flex: 0 0 42.8%;
    @include desktop {
      flex: 0 0 auto;
      margin: 0 auto;
    }
    & img {
      max-width: 100%;
    }
  }
}
