.works {
  padding: 145px 0;
  background: url("../../img/works/works.svg") 0 0 repeat;
  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include tablet {
      text-align: center;
    }
  }
  @include desktop {
    padding: 70px 0;
  }
  @include sm-desktop {
    padding: 45px 0;
  }
}

.items-works {
  &__navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 48px;
    @include tablet {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 45px;
    @include tablet {
      gap: 15px;
    }
  }
  &__item {
    background-color: $backgroundItem;
    backdrop-filter: blur(2px);
    border-radius: 16px;
    padding: 45px;
  }
  &__image {
    position: relative;
    padding-bottom: 59.622642%;
  }
  &__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
